body, .pure-g, .pure-g [class *="pure-u"]
  line-height 1.5
  color #333

a
  text-decoration none
  color #5b8ddf
  font-weight bold

h1
  img
    vertical-align middle
    width 60px

pre
  font-size 0.7em

.main-panel
  max-width 700px
  margin auto
  display block
  box-sizing border-box

.center
  text-align center

.fixed
  position fixed

.error
  color red

.m-100
  margin 50px 0

.error-bg
  color: #fff;
  text-shadow 1px 1px 0 #a15;
  background: #ff607c;
  padding: 1em;
  border-radius: 5px;

body.error
  color inherit
  
.ok
  color green

.ok-bg
  color: #fff;
  text-shadow 1px 1px 0 #383;
  background: #1eb47e;
  padding: 1em;
  border-radius: 5px;


input[type=text]
  padding 10px
  border solid 1px #ccc
  outline none
  width 100%
  font-size 100%
  box-sizing border-box